/*
 
  Style sheet for the table in Details.html

 
*/

    
    /* Creates a column for the paragraph */
    p {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;

        -moz-column-gap: 20px;
        -webkit-column-gap: 20px;
         column-gap: 20px;

        -moz-column-rule: 1.2px dashed black;
        -webkit-column-rule: 1.2px dashed black;
        column-rule: 1.2px dashed black;
    } 


    /* Adjusts the table */
    table.events {
        border: 2px solid black;
        border-collapse: collapse;
        font-family: Arial, Verdana, sans-serif;
        width: 90%;
        margin-left: 50px;
    }


    /* Adjusts the body for the table  */
    table.events tbody td {
        border: 3px solid black; 
        font-size: 1.0em; 
        vertical-align: top; 
        padding: 2px;
      
    }

    /*Adjusts the row styles for the table  */    

    table.events tr {
        height: 34px;
    }


    /* TThese styles adjust the headers for the table */

    table.events thead {
        color: white; 
        background-color: rgb(105, 177, 60);
    }

    table.events th {
        font-size: 1.0em; 
        border: 1px solid black;
    }



    /* These style adjust the columns for the table  */

    table.events col.EventName {
         background-color: yellow;
         width: 10%;
    }

    table.events col.information {
        width: 11%; 
        background-color: lightgrey;
    }

    table.events col.information {
        background-color: lightgrey;
        width: 11%;
    }     

