/*
 
  Style sheet for the table in Events.html

 
*/

    
    /* Creates a column for the paragraph in Events.html */
    p {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;

        -moz-column-gap: 20px;
        -webkit-column-gap: 20px;
         column-gap: 20px;

        -moz-column-rule: 1.2px dashed black;
        -webkit-column-rule: 1.2px dashed black;
        column-rule: 1.2px dashed black;
    } 


    /* Adjusts the table Events.html */
    table.events {
        border: 2px solid black;
        border-collapse: collapse;
        font-family: Arial, Verdana, sans-serif;
        width: 90%;
        margin-left: 50px;
    }


    /* Adjusts the body for the table in Events.html */
    table.events tbody td {
        border: 3px solid black; 
        font-size: 1.0em; 
        vertical-align: top; 
        padding: 2px;
      
    }

    /*Adjusts the caption for the table in Events.html */

    table.events caption {
        display: table-caption;
        text-align: bottom; 
        font-size: 1.0em; 
        caption-side: bottom;
        color: yellow;
    }

    /*Adjusts the row styles for the table in Events.html */    

    table.events tr {
        height: 34px;
    }


    /* TThese styles adjust the headers for the table in Events.html */

    table.events thead {
        color: white; 
        background-color: rgb(105, 177, 60);
    }

    table.events th {
        font-size: 0.7em; 
        border: 1px solid black;
    }

    table.events thead th:first-of-type {
        background-color: red;
    }

    table.events thead th:nth-of-type(7) {
        background-color: orange;
    }

    table.events thead th:nth-of-type(8) {
        background-color: orange;
    }



    /* These style adjust the columns for the table in Events.html */

    table.events col.EventName {
         background-color: white;
         width: 10%;
    }

    table.events col.information {
        width: 11%; 
        background-color: salmon;
    }

    table.events col.information {
        background-color: lime;
        width: 11%;
    }     

