/*

   Stylesheet for the Home.html

*/

    /* Displays these features */
    header, section, footer, nav, html {
        display: block;
    }

    html {
       position: relative;
       min-height: 100%;
      
    }

    /*Adjusts the Body styles*/
    body {
         background-image: url(circuit.jpeg);
         font-family: Times New Roman, Times, sans-serif;
         font-size: 1.0em;
         margin: 0 0 100px;
         padding: 0;
         height: 100%;
         width: 100%;
    }

    /* Adjusts the Header styles*/
    header {
        background-color: skyblue;
        border-bottom: 4px solid black;
        color: white;
        text-align: center;
        font-weight: bold;
        width: 100%;
        
    }

    /*Adjusts the header h1 styles */
    header h1 {
         color: black; 
         background-color: skyblue;
         font-size: 2.5em; 
         padding: 15px 20px 20px 20px;
         text-align: center;
         margin-top: 0;
        
 
    }

 /**********************************************************************************

        Beginning of link styling


  ************************************************************************************/
  

    /* Changes the style of the navigation list */
    header nav ul li:hover > ul {
         display: block; 
       
    }

    header nav ul ul {
        display: none;

    }

    /* Changes the color of the text for each link in Events.html */
    header nav ul li a {
        text-decoration: none; 
        color: black;
    }

    /* Changes the link to yellow once the cursor hovers over each one */
    header nav ul li a:hover {
         color: yellow;
    }

    /*Changes visited links to gold */
    a:visited {
        color: none;
    }

    nav ul {
	    background: #efefef; 
	    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	    padding: 0 20px;
	    border-radius: 10px;  
	    list-style: none;
	    position: relative;
	    display: inline-table;
    }

	nav ul:after {
		content: ""; clear: both; display: block;
	}

    nav ul li {
	    float: left;
    }

	nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	}

    nav ul li:hover a {
	    color: #fff;
	}
	
	nav ul li a {
		display: block; padding: 25px 40px;
		color: #757575; text-decoration: none;
	}

        
    nav ul ul {
	    background: #5f6975; border-radius: 0px; padding: 0;
	    position: absolute; top: 100%;
    }

	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 40px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #4b545f;
			}

    nav ul ul ul {
	    position: absolute; left: 100%; top:0;
    }


 /**********************************************************************************

        End of link styling


************************************************************************************/


  

  /* Adjusts the styles of the h2 group */
     h2 {
        color: white;  
        background-color: black;
        letter-spacing: 5px;
        font-size: 1.1em;   
        padding: 5px 0px 5px 12px;
        text-align: center;
    }

   /* Adjusts the styles of the paragraph */
     p {
        color: black;
        font-size: 1.5em;
        line-height: 1.4em;
        margin: 15px;
    }

   /* Adjusts the style for the div labeled content */
     #content {
      padding: 25px 70px 70px 25px;
    
     
 

    }






    /* Adjusts the footer styles */   

    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: auto;
        width: 100%;
        color:#FFFFFF; 
        background: black;
        font-size: 0.8em;
        text-align: center;
      
    }



