/*

   Stylesheet for the Home.html

*/

    /* Displays these features from Home.html */
    header, section, footer, nav, html {
        display: block;
    }

    html {
       position: relative;
       min-height: 100%;
      
    }

    /*Adjusts the Body styles for Home.html */
    body {
         background-image: url(circuit.jpeg);
         font-family: Times New Roman, Times, sans-serif;
         font-size: 1.0em;
         margin: 0 0 100px;
         padding: 0;
         height: 100%;
         width: 100%;
    }

    /* Adjusts the Header styles for Home.html */
    header {
        background-color: skyblue;
        border-bottom: 4px solid black;
        color: white;
        text-align: center;
        font-weight: bold;
        width: 100%;
        
    }

    /*Adjusts the header h1 styles for Home.html */
    header h1 {
         color: black; 
         background-color: skyblue;
         font-size: 2.5em; 
         padding: 15px 20px 20px 20px;
         text-align: center;
         margin-top: 0;
        
 
    }


    /* Changes the style of the navigation list */
    header nav ul li {
         display: inline; 
         font-size: 1.2em; 
         font-family: Times New Roman, sans-serif;
         background-color: green;
         padding: 5px 10px; 
         margin: 2px;
    }

    /* Changes the color of the text for each link in Home.html */
    header nav ul li a {
        text-decoration: none; 
        color: white;
    }

    /* Changes the link to yellow once the cursor hovers over each one */
    header nav ul li a:hover {
         color: yellow;
    }

    /*Changes visited links to gold */
    a:visited {
        color: gold;
    }


  /* Adjusts the styles of the h2 group */
     h2 {
        color: white;  
        background-color: black;
        letter-spacing: 5px;
        font-size: 1.1em;   
        padding: 5px 0px 5px 12px;
        text-align: center;
    }

   /* Ajusts the styles of the paragraph delcared in Homm.html */
     p {
        color: yellow;
        font-size: 1.5em;
        line-height: 1.4em;
        margin: 15px;
    }



    /* Adjusts the footer styles of Home.html */   

    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        height: auto;
        width: 100%;
        color:#FFFFFF; 
        background: black;
        font-size: 0.8em;
        text-align: center;
      
    }



